.warapper
  .header
    .header__box
      .header__box__title
        = link_to "Train Infomation", posts_path
      .header__box__links
        .header__box__links__from
          東京
        .header__box__links__create  
  .main
    .box
      = form_with model: @post, local: true do |f|
        = f.label "着駅"
        = f.select :for,[["東京" ,"東京"],["品川" ,"品川"],["新横浜" ,"新横浜"],["小田原","小田原"],["熱海" ,"熱海"],["三島" ,"三島"],["新富士" ,"新富士"],["静岡" ,"静岡"],["掛川" ,"掛川"],["浜松" ,"浜松"],["豊橋" ,"豊橋"],["三河安城" ,"三河安城"],["名古屋","名古屋"],["岐阜羽島","岐阜羽島"],["米原","米原"],["京都","京都"],["新大阪","新大阪"]],{}, {id: "for", class: "for"}
        %br
        = f.label "列車番号"
        %br
        = f.label "車両番号"
        %br
        = f.label "席番号"
        %br
        = f.label "種別"
        = f.select :type,[["手動","手動"],["電動","電動"],["目","目"],["貸し","貸し"],["チェアライダー","チェアライダー"]], {}, {id: "type", class: "type"}